<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="script-src 'self' 'unsafe-inline'"
    />
    <title>MinTerm</title>
  </head>
  <body style="margin: 0; margin-bottom: 0;" class="theme-sample">
    <div id="root" style="width: 100%"></div>
  </body>
</html>
